<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
    <li  class="nav-item">Logado como: <strong><%= current_user.email %></strong></li>
    <li></li>
  </ul>


    <%= link_to "Editar perfil", edit_user_registration_path, :class => 'navbar-link' %>  |
    <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Novo usuário", new_user_registration_path, :class => 'navbar-link'  %>  |
    <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</nav>
